.container {
    display: block;
}

/* .text,
.value,
.label-color {
	display: inline-block;
} */

.label {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.text,
.label-color {
	margin-right: 16px;
}

.label-color {
	width: 20px;
	height: 20px;
}
