.container {
    display: block;
}

.wrapper {
	display: flex;
	flex-direction: column;
}
.slidecontainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.label {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.text {
	width: 150px;
}

.text,
.label-color {
	margin-right: 16px;
}

.label-color {
	width: 20px;
	height: 20px;
}


@media only screen and (max-width: 640px) {
	.slidecontainer {
		flex-direction: column;
	}
}
